.coupon  {
    background: #f7f7f7 !important;
    overflow: hidden scroll;
    height: 250px;
}

.coupon_item {
    background: #eea218 !important;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
}

.coupon_item:nth-child(even) {
    background: #6b7b8c !important;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
}

.coupon_item_green{
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    background: #4cad2fde !important;
    font-weight: 600;
}

.coupon_item_green:nth-child(even) {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    background: #1b6535  !important;
    font-weight: 600;
}

.main_coupon{
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
}

.merchnat:nth-child(odd) {
    border-bottom: 1px solid rgba(0,0,0,.125);
}

/* .drag_select{
    font-size: 14px;
    color: #9c9c9c;
} */

.drag_select {
    animation: blinker 1s linear infinite;
    font-size: 14px;
    color: red;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }