.mainclass {
    position: absolute;
    width: 100%;
    background: antiquewhite;
    height: 100%;
}

.main-box {
    width: 375px;
    max-width: 375px;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.box {
    width: 100%;
    padding: 12px 31px;
    text-align: center;
}